{% extends "base.html" %}

{% block header %}{% include "receipt_generator/header.html"%}{% endblock %}

{% block page_content %}
<h1>Preview receipt details</h1>
{% if success_message %}<p class="alert alert-success"><strong>{{ success_message }}</strong></p>{% endif %}
{% if error_message %}<p class="alert alert-warning"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/donation/add" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Save">
</form>

<a class="btn btn-primary" href="{% url 'receipt_generator:edit_donation' donation.id %}">
    Edit this donation
</a>

<a class="btn btn-primary" href="{% url 'receipt_generator:edit_donor' donation.donor %}">
    Edit this donor
</a>

{% endblock %}
