{% extends "base.html" %}

{% block page_content %}
<h1>Added a receipt</h1>

{% if success_message %}<p class="alert alert-success"><strong>{{ success_message }}</strong></p>{% endif %}
{% if error_message %}<p class="alert alert-warning"><strong>{{ error_message }}</strong></p>{% endif %}
<form>
    <fieldset disabled="disabled">
    {{ donation_form.as_p }} 
    </fieldset>
</form>

<a class="btn btn-primary" href="{% url 'receipt_generator:edit_donation' donation.id %}">
    Edit this donation
</a>

<a class="btn btn-primary" href="{% url 'receipt_generator:edit_donor' donation.donor.id %}">
    Edit donor details
</a>

{% endblock %}
