{% extends "base.html" %}

{% block page_content %}
<h1>Add donation</h1>
{% if success_message %}<p class="alert alert-success"><strong>{{ success_message }}</strong></p>{% endif %}
{% if error_message %}<p class="alert alert-warning"><strong>{{ error_message }}</strong></p>{% endif %}
{{ form.media }}  {# Adds all flatpickr JS/CSS files from CDN #}
<form action="/donation/add" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Save">
</form>
{% endblock %}
