<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'receipt_generator:receipt_generator_index' %}">Home</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'receipt_generator:add_donor' %}">
            Create a <strong>donor</strong> record
        </a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'receipt_generator:add_donation' %}">
            Create a <strong>donation</strong> record
        </a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'receipt_generator:list_donors' %}">
            See all <strong>donor</strong> records (from here you can edit them)
        </a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">
                Logout {{ user.get_username }}
            </a></li>   
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">
                Login
            </a></li> 
        {% endif %} 
        <li class="nav-item"><a class="nav-link" href="/admin">
            Go to admin interface
        </a></li>
    </ul>
</nav>