{% extends "base.html" %}

{% block page_content %}
<h1>View donor '{{ donor }}'</h1>

{% if success_message %}<p class="alert alert-success"><strong>{{ success_message }}</strong></p>{% endif %}
{% if error_message %}<p class="alert alert-warning"><strong>{{ error_message }}</strong></p>{% endif %}
<form>
    <fieldset disabled="disabled">
    {{ form.as_p }} 
    </fieldset>
</form>

<a class="btn btn-primary" href="{% url 'receipt_generator:edit_donor' donor.id %}">
    Edit this donor
</a>

{% if donations %}
    <br/>
    <p>All donations:</p>
    {% block overall_table %}
        {% with donations as donations %}
            {% include "receipt_generator/donations_table.html" %}
        {% endwith%}
    {% endblock %}
    <br/>
    <p>All donations from {{ last_year }}:</p>
    {% if annual_donations %}
        {% block annual_table %}
            {% with annual_donations as donations %}
                {% include "receipt_generator/donations_table.html" %}
            {% endwith%}
        {% endblock %}
    {% else %}
        <p>No donations are available.</p>
    {% endif %}
{% else %}
    <p>No donations are available.</p>
{% endif %}
{% endblock %}
